requests
numpy
pyaudio~=0.2.11
websockets~=10.4
ws4py~=0.5.1
flask~=3.0.0
openpyxl~=3.0.9
flask_cors~=3.0.10
websocket-client
azure-cognitiveservices-speech
aliyun-python-sdk-core
simhash
pytz
gevent
edge_tts
pydub
tenacity==8.5.0
pygame
scipy
flask-httpauth
opencv-python
psutil
langchain-core==0.2.43
langchain_openai==0.1.25
packaging==23.2
schedule
bs4
python-docx
python-pptx
pyqt5==5.15.10
pyqtwebengine==5.15.6
pyinstaller
